<h1>Thao gum WebRTC</h1>
<!--begin::my camera-->
<video id="localStream" width="300" controls></video>
<!--end::my camera-->
<br /><br />
<!--begin::friend's camera-->
<video id="friendStream" width="300" controls></video>
<br /><br />
<!--end::friend's camera-->



<label>My connection token</label>
<br /><br />
<textarea id="txtMySignal" cols="100" rows="3"></textarea>
<br /><br />
<input type="text" placeholder="Your friend's token" id="txtFriendSignal">
<br /><br />
<button id="btnConnect">Connect</button>